<h1>게시물 목록</h1>
<a href="/home/new">새로운 글쓰기</a><br>
<%@posts.each do |t|%>
   <% if t.user != nil %>
   <%=t.user.email %>
   <% else %>
   익명
   <% end %>
   제목 : <%=t.col_title%><br>
   내용 : <%=t.col_content%><br>
   이미지 : <img src="<%=t.image%>"><br>
   <a href='/home/destroy/<%=t.id%>'>삭제</a><br>
   <a href='/home/edit/<%=t.id%>'>수정</a><br>
   ---------------------------------<br><br>
   
<%end%>



